{% extends "layout.html" %}

{% block content %}

<div class="p-5 bg-dark rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4 text-light fw-bold">About Me</h1>
        <p class="col-8 text-light fs-4">
            Esta es una página hecha completamente con <strong>Python</strong> y <acronym
                title="HyperText Markup Language">
                HTML
            </acronym> únicamente por el momento. Este es un momento inolvidable para el ser humano.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id repellat nobis minima? Esse quidem,
            amet rem, et ipsum asperiores consectetur nobis maxime eveniet alias non. Architecto maiores neque
            facere dignissimos!
        </p>
        <button class="btn btn-primary btn-lg" type="button">Example button (No hace nada)</button>
    </div>
</div>

{% endblock %}